.icon{
    text-align: center;
    margin-left: 15px;
}
p{
    text-align: center;
}
.icon-class-container{
    text-align: center;
    background-color: #021533 ;
    color: white;
    
}
.icon-class{
    font-size: xx-large;

}